p {
    border: 2px solid white;
    color: white;
    height: 2rem;
    width: 2rem;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
  }
  
  body {
    display: flex;
    background-color: black;
    flex-direction: column;
    padding-bottom: 1rem;
    flex-direction: row;
    overflow-y: hidden;
  }
  
  .cruzadinha {
    display: absolute;
    flex-direction: column;
    width: 40rem;
    height: 70rem;
    color: white;
  }
  
  input {
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    color: white;
    font-size: 1.3rem;
  }
  
  .inputsContainer {
    display: grid;
    grid-template-columns: repeat(6, 6fr);
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 50rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: scrool;
    margin-top: 3rem;
    margin-left: 5rem;
  }

  .inputsContainer::-webkit-scrollbar{
    width: 10px;
  }

  .inputsContainer::-webkit-scrollbar-track{
    background-color: black;
  }

  .inputsContainer::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
    border: 3px solid black;
  }
  
  .pergunta1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 36rem;
  }
  
  .pergunta2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 2.25rem;
  
    margin-top: 18rem;
  }
  
  .pergunta3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 9rem;
    margin-top: 22.6rem;
  }
  
  .pergunta4 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 22.5rem;
    margin-top: 18rem;
  }
  
  .pergunta5 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 6.75rem;
    margin-top: 42.8rem;
  }
  
  .pergunta6 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    margin-top: 47.3rem;
  }
  
  .pergunta7 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 13.5rem;
    margin-top: 4.5rem;
  }
  
  .pergunta8 {
    position: absolute;
    display: flex;
    flex-direction: row;
  }
  
  .pergunta9 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 29.2rem;
  }
  
  .pergunta10 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 11.2rem;
    margin-top: 13.5rem;
  }
  
  .pergunta11 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 2.2rem;
    margin-top: 22.5rem;
  }
  
  .pergunta12 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
    margin-top: 22.5rem;
  }
  
  .pergunta13 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 11.3rem;
    margin-bottom: 1rem;
  }
  
  .pergunta14 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    margin-top: 29.4rem;
  }
  
  .pergunta15 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 18rem;
  }
  
  .pergunta16 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: rem;
    margin-top: 18rem;
  }
  
  .pergunta17 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 24.7rem;
    margin-top: 9rem;
  }
  
  .pergunta18 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 11.2rem;
    margin-top: 13.5rem;
  }

  .inputError{
    border: 2px solid red;
  }

  .inputCorrect{
    border: 2px solid green;
  }

  .inputDefault{
    border: 2px solid black;
  }

  #BP1 {
    color: white; 
    position: absolute;
margin-left: 0.2rem;
  }

  #BP2 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP3 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP4 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP5 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP6 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP7 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP8 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP9 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP10{
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP11 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP12 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP13 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP14 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP15 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP16 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP17 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }

  #BP18 {
    color: white; 
    position: absolute;
    margin-left: 0.2rem;
  }