p{
    border: 2px solid black;
    height: 2rem;
    width: 2rem;
    text-align: center;
    margin-block-end: 0;
    margin-block-start: 0;
}

input{
    margin-top: 1rem;
}

.inputsContainer{
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.pergunta1{
    display: flex;
    flex-direction: column;
}

.pergunta2{
    display: flex;
    flex-direction: row;
    margin-left: 15rem;
}

.pergunta3{
    display: flex;
    flex-direction: column;
    margin-left: 30rem;
}

.pergunta1{
    display: flex;
    flex-direction: row;
}